/* NAV */

.navbar img {
    height: 60px;
}

/* Container pagina inicio */
.container {
    width: 100%;
    color: white;
    background-color: rgb(20, 20, 78);
    max-width: 2000px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "section1 section1 section1"
        "section2 section2 section2"
        "section3 section3 section3";
}

.container-estrategia {
    width: 100%;
    color: white;
    background-color: rgb(20, 20, 78);
    max-width: 2000px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container-contacto {
    width: 100%;
    color: white;
    background-color: rgb(20, 20, 78);
    max-width: 2000px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}


.section1 {
    grid-area: section1;
    padding: 5%;
}

.section1 img {
    width: 90%;
    max-width: 900px;
    border: 2px solid rgb(125, 118, 255);

}

.section2 {
    padding: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sub1s2 sub2s2 sub3s2";
    grid-area: section2;
}

.sub1s2 {
    border: 2px solid rgb(125, 118, 255);
    grid-area: sub1s2;
}

.sub2s2 {
    border: 2px solid rgb(125, 118, 255);
    grid-area: sub2s2;
}

.sub3s2 {
    border: 2px solid rgb(125, 118, 255);
    grid-area: sub3s2;
}

.section3 {
    padding: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sub1s3 sub2s3 sub3s3"
        "sub1s3 sub2s3 sub3s3"
        "sub1s3 sub2s3 sub3s3";
    grid-area: section3;
}

.sub1s3 {
    border: 2px solid rgb(125, 118, 255);
    grid-area: sub1s3;
}

.sub2s3 {
    border: 2px solid rgb(125, 118, 255);
    grid-area: sub2s3;
}

.sub3s3 {
    border: 2px solid rgb(125, 118, 255);
    grid-area: sub3s3;
}

/* footer */

.pie-pagina {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 10px 5px;
}

.pie-pagina ul {
    color: rgb(26, 26, 255);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.pie-pagina li {
    margin: 20px 10px;
}

/* Resposive */

@media (min-width: 400px) {
    .section2 h3 {
        font-size: 90%;
    }

    .section2 p {
        display: none;
    }

    .section3 h3 {
        font-size: 90%;
    }

    .section3 p {
        display: none;
    }

    .container-estrategia iframe {
        max-width: 390px;
    }
}

@media (min-width: 600px) {
    .section2 h3 {
        font-size: 100%;
    }

    .section2 p {
        display: flex;
    }

    .section3 h3 {
        font-size: 100%;
    }

    .section3 p {
        display: flex;
    }

    .container-estrategia iframe {
        width: 1000px;
    }
}